.toggle-button {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    padding: 2px 0;
    cursor: pointer;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 24px;
    height: 2px;
    background: #404040;
}